body {
	background: #faf6ea;
	margin: 0;
	padding: 0 10px;
}
h1, h2, h3, h4, p, div, td, th, input, textarea, label, th, td {
	font-family: "proxima-nova-n4","proxima-nova",sans-serif;
	font-style: normal;
	font-weight: 300;
	font-size: 20px;
	padding: 0;
	margin: 0;
	color: #4b4440;
}
input, textarea {
	font-size: 95%;
}
h1, h2, h3, h4, p, div {
	text-align: center;
}
.note {
	display: block;
	font-weight: 300;
	padding-top: 2px;
}
th {
	font-weight: 600;
	padding-right: 30px;
}
h1 {
	position: relative;
	font-size: 20px;
	line-height: 1;
	letter-spacing: -0.5px;
	text-transform: uppercase;
}
hr {
	display: block;
	width: 100px;
	top: 35px;
	border: 0;
	margin: 10px auto;
	border-bottom: 2px solid #e5e0d6;
}
h2 {
	margin-top: 40px;
	line-height: 1;
	font-size: 34px;
	color: #dd5f32;
}
h3 {
	margin: 40px auto 0;
	line-height: 1;
	font-size: 16px;
	color: #8c8279;
}
h4 {
	font-weight: normal;
	font-size: smaller;
	margin: 14px 0 0 0;
	font-style: italic;
}
p {
	margin-bottom: 0;
	line-height: 30px;
}
p.quote {
	position: relative;
	line-height: 1.3;
	font-size: 30px;
	letter-spacing: -.05em;
	text-align: left;
	font-size: 30px;
	max-width: 500px;
	margin: 0 auto;
}
p.quote:before {
	content: "‟";
	margin: -15px 0 0 -40px;
	font-size: 80px;
	position: absolute;
}
.logo {
	background-position: center center;
	background-image: url('logo.png');
	width: 256px;
	height: 169px;
}
.thumbs {
	max-width: 100%;
	overflow-x: hidden;
	left: 0;
	right: 0;
	margin-top: 20px;
}
.nowrap {
	white-space: nowrap;
}
.thumbs ul {
	white-space: nowrap;
	padding: 10px 0;
}
.map {
	padding: 5px;
	background: #fff;
	box-shadow: 0 3px 6px rgba(0,0,0,.25);
	margin: 10px auto;
	display: block;
}
.thumbs li {
	padding: 0 5px;
	background: #fff;
	display: inline-block;
	margin: 0 30px;
	width: 228px;
	padding: 10px 0;
	text-align: center;
	font-family: "Marker Felt", sans-serif;
	text-decoration: none;
	-webkit-box-shadow: 0 3px 6px rgba(0,0,0,.25);
	-moz-box-shadow: 0 3px 6px rgba(0,0,0,.25);
	box-shadow: 0 3px 6px rgba(0,0,0,.25);
	-webkit-transition-property: all;
	-webkit-transition-duration: 0.5s;
	transition-property: all;
	transition-duration: 0.5s;
	cursor: pointer;
	overflow: hidden;
}
.thumbs li.hidden {
	width: 0;
	margin: 0;
}
.thumbs figcaption {
	padding-top: 5px;
}
.clear {
	display: block;
	clear: both;
}
.thumbs img {

}
.balloon {
	position: absolute;
}
form {
	display: none;
	background-color: #fff;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#eee));
	background-image: -webkit-linear-gradient(top, #fff, #eee);
	background-image: -moz-linear-gradient(top, #fff, #eee);
	background-image: -ms-linear-gradient(top, #fff, #eee);
	background-image: -o-linear-gradient(top, #fff, #eee);
	background-image: linear-gradient(top, #fff, #eee);
	margin: 0 auto;
	padding: 25px 30px 10px;
	z-index: 0;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
	position: relative;
	width: 500px;
	margin: 0 auto;
}
form:before {
	content: '';
	position: absolute;
	z-index: -1;
	border: 1px dashed #ccc;
	top: 5px;
	bottom: 5px;
	left: 5px;
	right: 5px;
	-moz-box-shadow: 0 0 0 1px #fff;
	-webkit-box-shadow: 0 0 0 1px #fff;
	box-shadow: 0 0 0 1px #fff;
}
form .field {
	background: #f1f1f1;
	padding: 4px 10px;
	margin: 0 0 10px 0;
	width: 300px;
	border: 1px solid #ccc;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-moz-box-shadow: 0 1px 1px #ccc inset, 0 1px 0 #fff;
	-webkit-box-shadow: 0 1px 1px #ccc inset, 0 1px 0 #fff;
	box-shadow: 0 1px 1px #ccc inset, 0 1px 0 #fff;
}
.button {
	background-color: #ffb94b;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#fddb6f), to(#ffb94b));
	background-image: -webkit-linear-gradient(top, #fddb6f, #ffb94b);
	background-image: -moz-linear-gradient(top, #fddb6f, #ffb94b);
	background-image: -ms-linear-gradient(top, #fddb6f, #ffb94b);
	background-image: -o-linear-gradient(top, #fddb6f, #ffb94b);
	background-image: linear-gradient(top, #fddb6f, #ffb94b);
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	text-shadow: 0 1px 0 rgba(255,255,255,0.5);
	-moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
	-webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
	box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
	border-width: 1px;
	border-style: solid;
	border-color: #d69e31 #e3a037 #d5982d #e3a037;
	height: 35px;
	padding: 0 20px;
	cursor: pointer;
	font: bold 15px Arial, Helvetica;
	color: #8f5a0a;
}
.button:hover, .button:focus {
	background-color: #fddb6f;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#ffb94b), to(#fddb6f));
	background-image: -webkit-linear-gradient(top, #ffb94b, #fddb6f);
	background-image: -moz-linear-gradient(top, #ffb94b, #fddb6f);
	background-image: -ms-linear-gradient(top, #ffb94b, #fddb6f);
	background-image: -o-linear-gradient(top, #ffb94b, #fddb6f);
	background-image: linear-gradient(top, #ffb94b, #fddb6f);
}
.button:active {
	outline: none;
	-moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
	-webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
}
label {
	cursor: pointer;
}
label input {
	margin: 0 5px 0 0;
	display: inline-block;
}
textarea {
	height: 5em;
}
a {
	color: #dd5f32;
	text-decoration: none;
	cursor: pointer;
}
.toggle:hover, a:hover {
	text-decoration: underline;
}
.toggle:after {
	padding-left: 4px;
	content: "↓";
}
.toggle.visible:after {
	content: "↑";
}
.contact-icon {
	margin: 0 2px 0 10px;
}
table {
	margin: 0 auto;
}
th, td {
	font-size: smaller;
	height: auto;
	padding: 1px 5px;
	text-align: right;
}
th:first-child {
	padding-right: 30px;
}
.toggable {
	display: none;
}
.discount-price {
	display: none;
	background: #efe;
}
body.discount-mode .normal-price {
	display: none;
}
body.discount-mode .discount-price {
	display: block;
}
.note {
	font-size: smaller;
}
.big {
	font-size: 40px;
	font-weight: bold;
}
.small {
	font-size: smaller;
}
.pointer {
	cursor: pointer;
}

.promo {
	border: 4px solid #faa;
	border-radius: 7px;
	padding: 4px 10px;
	background: #fee;
}
.mascot {
	background: url(mascot.png);
	width: 209px;
	height: 212px;
}
.services {
	padding: 0;
}
.services li {
	list-style: none;
}

/* xs:480px, sm:768px, md:992px, lg:1200px */
@media only screen and (max-width: 768px) {
	.hide-small { display: none; }
}
@media only screen and (min-width: 769px) {
	.hide-large { display: none; }
}

@media only screen and (min-width: 992px) {
	/* lg */
	.logo {
		position: absolute;
		top: 0;
		left: 0;
	}
	.content {
		width: 940px;
		margin: 0 auto;
		padding-top: 80px;
	}
	.promo-parent {
		position: relative;
		padding-bottom: 20px;
	}
	.promo {
		width: 150px;
		position: absolute;
		-webkit-transform: rotate(-10deg);
		transform: rotate(-10deg);
	}
	.promo.right {
		-webkit-transform: rotate(10deg);
		transform: rotate(10deg);
		right: 0;
	}
	.mascot {
		float: right;
	}
	.map {
		width: 600px;
		height: 400px;
	}
	p {
		padding: 12px 85px 20px;
	}
}

@media only screen and (max-width: 991px) {
	/* xs, sm, md */
	.logo {
		margin: 0 auto;
	}
	.promo-parent {
		margin-top: 20px;
	}
	.promo-parent+h2 {
		margin-top: 30px;
	}
	.promo {
		max-width: 400px;
		margin: 0 auto;
	}
	.mascot {
		margin: 0 auto;
	}
	.map {
		width: 80%;
		height: 400px;
	}
	p {
		padding: 12px 0 20px;
	}
	p.quote {
		margin-left: 30px;
		text-align: center;
	}
}
